<div>
    <h2>View Contacts</h2>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th> Contact ID </th>
                <th> First Name </th>
                <th> Last Name </th>
                <th> Phone Number </th>
                <th> Email </th>
                <th> Interested In Volunteering </th>
                <th> Message </th>
                <th> Contacted </th>
                <th></th>
            </tr>

            
            {{#each person}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.firstName}}</td>
                <td>{{this.lastName}}</td>
                <td>{{this.phone}}</td>
                <td><a href="mailto:{{this.email}}">{{this.email}}</a></td>
                 {{#if this.isVolunteer}}
                    <td>Yes</td>
                {{/if}} 
                {{#unless this.isVolunteer}}
                <td>No</td>
                {{/unless}}
                <td>{{this.message}}</td>
                {{#if this.contacted}}
                    <td>Yes</td>
                {{/if}}
                {{#unless this.contacted}}
                    <td>No</td>
                {{/unless}}
                
                {{#unless this.contacted}}
                    <td>
                        <form method="POST" action="/contact">
                            <input type="hidden" name="contact_id" type="text" value={{this.id}}>
                            <button type="submit" class="btn btn-primary">Contact Me</button>
                        </form>
                    </td>
                {{/unless}}
                {{#if this.contacted}}
                    <td></td>
                {{/if}}
            </tr>
            {{/each}}
        </table>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p><a href="/pigpage">Pig Page</a> | <a href="/admin">Add Pig/Pig List</a></p>
        </div>
    </div>
</div>